*{
    margin:0;
    padding:0;
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
}

/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

#logo{
    width: 45px;
    height: 40px;
    background-color:rgb(154, 154, 102) ;
}


nav{
    background-color: rgb(154, 154, 102);
    height:50px ;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
   
}

nav ul{
    display: flex;
    
}

li{
    cursor: pointer;
}

nav ul a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    margin: 20px;
    font-size: larger;
    font-weight: bolder;
}

nav ul li a:hover{
    color: rgb(133, 91, 57);
}

.f1{
    display: flex;
    margin-top: 5px;
    
}

img{
    height: 740px;
    width: 570px;
    background-color: beige;
}

.deep{
    width: 950px;
    background-color: beige;
}

h3{
    text-align: center;
    margin-top: 30%;
    font-size: 30px;
    font-weight: lighter;
}

h2{
    text-align: center;
    font-size: 50px;
}

p{
    text-align: center;
}

.ab{
    display: flex;
}
#img1:hover{
    scale: 1.05;
}

#img1{
    border-radius: 8px;
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.intro{
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
}

h4{
    font-size: 35px;
}

#hr1{
    width: 80px;
}
#hr2{
    width: 80px;
    margin-left: 10px;
}

.intro p{
    text-align: justify;
}

#films h4{
    margin-top: 10px;
    margin-left: 10px
}

.movie{
    margin-top: 25px;
    margin-left: 20px;
}

.film1{
    margin-top: 10px;
    background-color: beige;
}
.film1 img{
    width: 200px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.film1 h4{
    font-size: 19px;
}

.film1 p{
    text-align: justify;
    margin-left: 10px;
    margin-right: 20px;
}

.film1 img:hover{
    scale: 1.05;
} 

.fil1{
    display: flex;
}

.fil2{
    display: flex;
}

.fil3{
    display: flex;
}

.fil4{
    display: flex;
}

h5{
    margin-left: 10px;
}

button{
    background-color:black; 
    color: white; 
    border: 2px solid rgb(12, 12, 12);
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 60px;
    cursor: pointer;
}
  
button:hover {
    background-color: white;
    
}

#Portfolio h4{
    margin-top: 25px;
    margin-left: 140px;
    text-align: center;
}


.photos{
    margin-top: 10px;   
    align-items: center;
    justify-content: center;
    margin-left: 85px;
}

.photos img{
    width: 300px;
    height: 350px;
    border-radius: 7px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    
}

.photos img:hover{
    scale: 1.05;
}

#hr3{
    margin-left: 750px;
    width: 100px;
}

form{
    background-color: rgb(154, 154, 102);
    
}

#contact{
    margin-top: 20px;
}

#h{
    font-size: 25px;
    text-align: left;
    padding: 10px;
    background-color: rgb(154, 154, 102);
    padding-top: 10px;
    padding-left: 10px;
}

form{
    padding: 40px;
}

.input{
    width: 300px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgb(154, 154, 102);
    margin-top: 30px;
    background-color: rgb(154, 154, 102);
}

label{
    margin-left: 10px;
}

.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: black;
    color: azure;
}

.btn:hover {
    background-color:white ;
    color:black;
}

a{
    color: rgb(154, 154, 102);
}
/* #contact div{
    display: flex;
    background-color: rgb(154, 154, 102);
}

#h51{
    text-align: center;
    margin-top: ;
} */

